
body{
margin:0;
  padding:0;
font-family:sans-serif;
}
.heading{
display:flex;
  justify-content:center;
  align-items:center;
min-height:100vh;
  background:#000;
}
.heading h1{
margin:0;
  padding:0;
  color:#fff;
  font-size:120px;
}
.heading:first-child{
background:url(img1.jpg)
  background-size:cover;
}
.heading:last-child{
background:url(img6.jpg)
  background-size:cover;

}
.header
{
background-image:url('img1.jpg');
height:100%;
  baclground-size:cover;
  background-position:center;
  border:transparent;
  width:100%
}
